* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

#logo {
    width: 5em;
}

.header-div1 {
    display: flex;
    justify-content: space-between;
}

.nav-barre {
    display: flex;
}

.list1 {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.list1 li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: 0.4s;
}

.list-item:hover {
    background-color: rgb(43, 205, 43) !important;
    color: white;
}

a.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

a.list-item1 {
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.list-item1 {
    padding: 7px 16px;
    border-radius: 25px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item1:hover {
    background-color: rgb(43, 205, 43);
}

.header-div2 {
    display: flex;
    justify-content: space-between;
}

.header-div2 li a {
    color: white;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list-item2 {
    padding-bottom: 12px;
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background-color: #1b1818;
}

.list-item2:hover {
    background-color: black;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#home span {
    font-size: 26px;
    padding: 10px;
    background-color: inherit;
    color: white;
}

.header-div2 .list1 {
    background-color: #1b1818;
}

.header-div2 .list1 li {
    background-color: inherit;
}

.header-div2 {
    background-color: #1b1818;
}

.header-div2 nav {
    background-color: #1b1818;
}

.header-div2 div {
    width: 100%;
    margin: 0;
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-div2 div button {
    border: 0;
    height: 100%;
    padding: 10px 20px;
    background-color: inherit;
}

.header-div2 div button span {
    background-color: inherit;
    color: white;
}

main {
    display: flex;
}

main aside {
    width: 17%;
    background-color: #e4e4e4;
    display: inline-block;
}

main section {
    width: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

main aside h3 {
    padding: 10px;
}

main aside div ol li {
    margin: 0%;
}

main aside div ol li a {
    display: block;
    padding: 2px 1px 1px 16px;
}

main aside div ol li a:hover {
    background-color: #45e01a;
}

.btn button {
    padding: 10px 20px;
    background-color: #45e01a;
    border: 0;
    border-radius: 5px;
}

main section {
    width: 60%;
    padding: 16px 32px 32px 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    line-height: 2;
}

main section footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main section header {
    width: 100%;
}

main section header .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main section article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #aad89d;
    width: 100%;
    padding-left: 34px;
    margin-left: -29px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main section article button {
    width: fit-content;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

main section article button:nth-child(2) {
    background-color: #45e01a;
}

main section article button:last-child {
    background-color: #555555;
    color: white;
}